* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    max-width: 1200px;
    min-width: 800px;
    background-color: green;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    border: 1px black solid;
}

aside {
    width: 25%;
    border: 1px black solid;
    position: relative
}

aside p {
    position: sticky;
    top: 0;
    background-color: aqua;
    border: 1px solid black;
}

section {
    border: 1px black solid;
    width: 75%;
    display: inline-block
}

.portfolio-card {
    background-color: cornflowerblue;
    height: 40vh;
    border: 1px black solid;
}